
lab2/hello_world/.vs/hello_world/v16/.suo
lab2/hello_world/.vs/hello_world/v16/Server/sqlite3/db.lock
lab2/hello_world/.vs/hello_world/v16/Server/sqlite3/storage.ide
lab2/hello_world/.vs/hello_world/v16/Server/sqlite3/storage.ide-shm
lab2/hello_world/.vs/hello_world/v16/Server/sqlite3/storage.ide-wal
lab2/hello_world/bin/Debug/hello_world.exe
lab2/hello_world/bin/Debug/hello_world.exe.config
lab2/hello_world/bin/Debug/hello_world.pdb
lab2/hello_world/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
lab2/hello_world/obj/Debug/hello_world.csproj.FileListAbsolute.txt
lab2/hello_world/obj/Debug/hello_world.exe
lab2/hello_world/obj/Debug/hello_world.pdb
lab2/hello_world/Properties/AssemblyInfo.cs
lab2/print_args/.vs/print_args/v16/.suo
lab2/print_args/.vs/print_args/v16/Server/sqlite3/db.lock
lab2/print_args/.vs/print_args/v16/Server/sqlite3/storage.ide
lab2/print_args/bin/Debug/print_args.exe
lab2/print_args/bin/Debug/print_args.exe.config
lab2/print_args/bin/Debug/print_args.pdb
lab2/print_args/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
lab2/print_args/obj/Debug/print_args.csproj.FileListAbsolute.txt
lab2/print_args/obj/Debug/print_args.csprojAssemblyReference.cache
lab2/print_args/obj/Debug/print_args.exe
lab2/print_args/obj/Debug/print_args.pdb
lab2/print_args/Properties/AssemblyInfo.cs
lab2/remove_duplicates/.vs/remove_duplicates/v16/.suo
lab2/remove_duplicates/.vs/remove_duplicates/v16/Server/sqlite3/db.lock
lab2/remove_duplicates/.vs/remove_duplicates/v16/Server/sqlite3/storage.ide
lab2/remove_duplicates/bin/Debug/remove_duplicates.exe
lab2/remove_duplicates/bin/Debug/remove_duplicates.exe.config
lab2/remove_duplicates/bin/Debug/remove_duplicates.pdb
lab2/remove_duplicates/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
lab2/remove_duplicates/obj/Debug/remove_duplicates.csproj.FileListAbsolute.txt
lab2/remove_duplicates/obj/Debug/remove_duplicates.csprojAssemblyReference.cache
lab2/remove_duplicates/obj/Debug/remove_duplicates.exe
lab2/remove_duplicates/obj/Debug/remove_duplicates.pdb
lab2/remove_duplicates/Properties/AssemblyInfo.cs
